* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --text-color: #E1E1E6;

  --primary-color: #088546;
  --back-color: #000;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--back-color);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 8rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: .4rem;
  padding: 0 5rem;
}

.search button {
  background-color: var(--primary-color);
  border-radius: .4rem;
  height: 3.2rem;
  border: none;
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--text-color);

  display: flex;
  align-items: center;
  gap: .8rem;

  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1)
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table *{
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: bold;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}

table tr:nth-child(even) {
  background: #06181C;
}

table tr:nth-child(odd) {
  background: #4A808C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td button.remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}